/* theme 변수 */
@theme {
  --color-main: #070f26;
  --color-sub: #050a18;

  --color-card-light: #f5faff;
  --color-card-dark: #1e2330;

  --color-header-light: #f5f7f8;
  --color-header-dark: rgb(15, 25, 50);

  --font-display: 'Pretendard', sans-serif;

  --spacing-section: 5rem;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}
